@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@model Collection<ApiDescription>

@{
    ViewBag.Title = "ASP.NET Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

    <div class="content-wrapper-box">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>

<div id="body" class="api-content-box">
    <section class="featured wrap">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                The Matrix is an awesome project managment API.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix wrap">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>

@section Scripts {
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
}