<a class="menu-box" href="#/project/create"><span class="menu-title"><i class="fa fa-plus-circle"></i> New Project</span></a>

<div class="project-box" data-ng-repeat="project in projects">

    <a class="info-link" href="#/projects/{{ project.Id }}">

        <h2 class="info-title">{{ project.Title }}</h2>
        <span>{{ project.Tickets.length }} tickets</span>

    </a>

    <div class="action-options">
        <a ng-click="edit({{project.Id}})" class="edit-link"><i class="fa fa-pencil"></i></a>
        <a ng-click="delete({{project.Id}})" class="delete-link"><i class="fa fa-trash-o"></i></a>
    </div>

</div>