<a class="menu-box" href="#/projects/{{ project.Id }}/create"><span class="menu-title"><i class="fa fa-plus-circle"></i> New Ticket</span></a>

<div class="ticket-box">

    <div class="project-description">
        <a class="back-link" href="javascript:history.back();"><span class="fa fa-arrow-circle-left"></span></a> <h2>{{ project.Title }}</h2>
        <span class="block"><u>Deadline</u>:&nbsp; {{ project.Deadline | date:'medium' }}</span>

        <p><u>Descrition</u>:&nbsp;  {{ project.Description }}</p>
        <br />
        <h4>Tickets:</h4>
    </div>

    <div class="ticket-description" data-ng-repeat="ticket in project.Tickets">
        <a class="comment" href="#/tickets/{{ ticket.Id}}">
            <span class="fa fa-ticket"></span> {{ ticket.Title }}
        </a>
        <div class="action-options right">
            <a ng-click="edit(ticket.Id)" class="edit-link"><i class="fa fa-pencil"></i></a>
            <a ng-click="delete(ticket.Id)" class="delete-link"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>


</div>