
<div class="ticket-box">
    <div class="ticket-wrap">
        <a class="back-link" href="javascript:history.back();"><span class="fa fa-arrow-circle-left"></span></a> <h2>Back to Project</h2>
        <h3>{{ ticket.Title }}</h3>
        <p>{{ ticket.Description }}</p>
        <p><u>Deadline</u>:&nbsp; {{ ticket.Deadline }}</p>
        <p><u>Priority</u>: 
        <span ng-if="ticket.Priority == 1" class="priority-{{ ticket.Priority }}">Low</span>
        <span ng-if="ticket.Priority == 2" class="priority-{{ ticket.Priority }}">Medium</span>
        <span ng-if="ticket.Priority == 3" class="priority-{{ ticket.Priority }}">High</span>
        </p>

        <hr />

        <h3>Comments:</h3>

        <div data-ng-repeat="comment in ticket.Comments">
            <div class="comment">
                <p>{{ comment.Body }}</p>

            </div>
        </div>

        <div class="">
            <!-- Create Comment Form -->
            <hr />
            <p class="intstruction">YO DAWG, Have something to say YO?</p>
            <input type="hidden" data-ng-model="newComment.TicketId" value="{{ ticket.Id }}" />
            <input class="comment" type="text" data-ng-model="newComment.Body" />

            <button class="button-submit" data-ng-click=" addComment()"><span class="fa fa-comment"></span> Add Comment</button>
        </div>
    </div>
</div>