
<div class="create-box">
    <div class="create-wrap">
        <a class="back-link" href="javascript:history.back();"><span class="fa fa-arrow-circle-left"></span></a> <h2>Edit Ticket</h2>

        <input type="hidden" data-ng-model="ticket.ProjectId" value="{{projectId}}" />

        <label>Title</label>
        <input type="text" data-ng-model="ticket.Title" />

        <label>Description</label>
        <input type="text" data-ng-model="ticket.Description" />

        <label>Priority</label>
        <select data-ng-model="ticket.Priority">
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
        </select>

        <label>Status</label>
        <select data-ng-model="ticket.Status">
            <option value="1">In Progress</option>
            <option value="2">Complete</option>
            <option value="3">Pending</option>
        </select>

        <label>Deadline</label>
        <input type="date" data-ng-model="ticket.Deadline" />

        <button class="button-submit" data-ng-click="editTicket()"><span class="fa fa-ticket"></span> Update Ticket</button>
    </div>
</div>