<div >
    <input type="hidden" data-ng-model="newTicket.ProjectId" value="{{projectId}}" />
    <input type="text" data-ng-model="newTicket.Title" />
    <input type="text" data-ng-model="newTicket.Description" />
    <select data-ng-model="newTicket.Priority" >
        <option value="1">Low</option>
        <option value="2">Medium</option>
        <option value="3">High</option>
    </select>
    <select data-ng-model="newTicket.Status" >
        <option value="1">In Progress</option>
        <option value="2">Complete</option>
        <option value="3">Pending</option>
    </select>
    <input type="date" data-ng-model="newTicket.Deadline" />

    <button data-ng-click="addTicket()">Add Ticket</button>
</div>